body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
    float: right;
    /* position: absolute;
    left: -860px; */
    font-size: 17px;
    /* text-align: left; */
    padding: 0px 60px;
    margin: 70px;
    margin-top: 10px;
    
    /* text-decoration: none; */
  }
.navbar div img.logo{
  /* float:left; */
  position: absolute; 
    left: 200px;
    height: 5%;
    width: 40px;
    background: #222222;
    /* top: 110px; */
    bottom: 0p;
    padding: 4px 6px;
    margin-top: 40px;
  /* display:inline-block; */
  
}
p.name{
  position: absolute;
  left: 270px;
  /* top: 110px; */
  margin-top: 55px;
  /* padding: 14px 26px; */
  /* margin: "0 6px 16px"; */
}

.container{
  position: absolute;
  left: 200px;
  top: 250px;
  font-size: 20px;
}
#main{
  position: absolute;
  right: -635px;
  top: -90px;
  height: 560px;
  width: 500px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
