body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}
.navbar{
    float: right;
    /* position: absolute;
    left: -860px; */
    font-size: 17px;
    /* text-align: left; */
    padding: 0px 60px;
    margin: 70px;
    margin-top: 10px;
    
    /* text-decoration: none; */
  }
.navbar div img.logo{
  /* float:left; */
  position: absolute; 
    left: 200px;
    height: 5%;
    width: 40px;
    background: #222222;
    /* top: 110px; */
    bottom: 0p;
    padding: 4px 6px;
    margin-top: 40px;
  /* display:inline-block; */
  
}
p.name{
  position: absolute;
  left: 270px;
  /* top: 110px; */
  margin-top: 55px;
  /* padding: 14px 26px; */
  /* margin: "0 6px 16px"; */
}

div.container{
  position: absolute;
  left: 200px;
  top: 200px;
  font-size: 20px;
}
div#main{
  
  position: absolute;
  right: 90px;
  left: 700px;
  top: 150px;
 }
 img#floor{
  height: 660px;
  width: 600px;
  border-radius:10%;
 }
div#choma{
  
  /* top: 20px; */
  position: absolute;
  right: 660px;
  top: 360px;
  bottom: 900px;

}
img#meat{
  border-radius:50%;
  height: 460px;
  width: 400px;
  overflow: hidden;
}
div.box{
 
  border:solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  
}
div#comments{
  position: absolute;
  left:5px;
  top: 250px;
  text-align: center;
  width: 1500px;
  height: 1000px;
  display: flex;
}
.clients{
  flex: 90%;
  padding: 5px;
}
h2#customer{
  left: 650px;
  position: absolute;
  top: 170px;
}
img.blank{
  border-radius:50%;
  height: 60px;
  width: 60px;
  overflow: hidden;
  position:relative;
  top:29px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div.meals{
  border:solid;
  border-radius:10%;
  border-width: 2px;
  border-color: black;
  text-align: center;
  margin: 20px;
  width: 800px;
}
div.hard{
  text-align: center;
  margin: 70px;
  width: 800px;
}
/* .entry {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
  
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}